@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

	.main-nav
		width: 50%
		&-active-2
			width: 51% !important

// ≥992px
+media-breakpoint-down(md)

	.button-wrapper
		margin-top: 30px

	.top-line
		.brand
			left: 30%
		&-social
			right: 30%
		&-phone
			right: 7%	

	.top-line-social-text
		position: relative
		top: 100px
		max-width: 100%
		display: flex
		margin: 0 45px
		justify-content: space-between
		align-items: center
		li
			list-style-type: none
			a
				font-size: 18px
				color: #333
				font-weight: 300
				transition: all .3s ease
				&:hover
					color: $accent
					font-weight: 500
					text-decoration: none

// ≥768px
+media-breakpoint-down(sm)

	.isnohome
		h1
			font-size: 26px
			line-height: 1.2
			text-align: center
			margin-bottom: 20px
		h2
			text-align: center
			font-size: 22px
		.mobile-phone
			background: white
			line-height: 52px
			.fa
				color: $accent
				font-size: 22px
		.top-line
			min-height: 148px
			&-social-text
				li
					a
						color: #fff
		.apart-main
			background-size: 50%
			background-position-y: 80%
			text-align: center
			.apart-subhead
				text-align: left
			&-logo
				margin-top: 32px
		.variants
			padding-top: 40px
			.gif
				width: 100%
		.design
			h2
				margin: 28px 0 15px
				text-align: center
			&-img
				top: -24px
			&-viagra
				.design-img
					top: -31px
				h2
					margin: 40px 0 0 0
		.mobile
			.iphone
				max-width: 100% !important
			h2
				margin: 38px 0 44px
				text-align: center
			&-img
				top: -33px
			&-zapusk
				background-size: 85%
		.phones
			margin-top: 30px
			&-bottom
				margin: 0 auto
			.m-363,.m-151
				margin: 0
			&-bottom-1,&-bottom-2
				text-align: center
				h2
					margin: 40px 20px 27px 20px
					line-height: 1.2
			.button-wrapper
				margin: 0 auto
			&-zapusk
				padding-bottom: 20px
		.comp-tel
			&:before,&:after
				display: none
		.variants
			img
				width: 75%
				margin: 10px auto
			.apart-subhead
				margin-bottom: 30px
				text-align: center
		.main-footer
			padding: 45px

	.filter-list li
		margin-right: 10px
		font-size: 16px

	.top-line
		.brand
			left: 58%
			margin-left: -70px
			max-width: 140px

	.mnu-button-wrapper
		top: 40px

	.mnu-button
		position: absolute
		right: -30px
		top: 43px
	
	.mnu-services-wrapper
		h3
			margin: 0

	.mnu-services-inner-wrapper 
		.mnu-services-items
			max-width: 70%
			margin: 35px auto		

	.main-nav
		width: 100%

	.item-1
		img
			max-width: 100px
			margin-right: 20px
			right: 10%

		.preloader-promo-txt
			font-size: 44px
			margin-left: 10px
			left: -10%

		.typed-cursor
			left: -45px
			font-size: 44px

// ≥576px
+media-breakpoint-down(xs)
	
	.main-footer
		.footer-items
			margin-bottom: 25px
			h3
				margin-bottom: 10px

	.mobile-phone
		width: 44px
		height: 44px
		line-height: 44px


	.top-line
		.brand
			margin-left: 0
			left: 50%
			top: 38px
		&-phone
			top: 29px
			right: 15px

	.top-line-social-text
		margin: 0 15px			

	.filter-list
		display: flex
		flex-wrap: wrap
		li
			margin-right: 30px
			margin-bottom: 10px

	.h1
		font-size: 36px
		text-align: left

	.button-wrapper
		display: flex
		justify-content: flex-start

	.mnu-button
		right: 0
		top: 10px

	.mnu-services-inner-wrapper 
		.mnu-services-items
			max-width: 80%
			margin: 35px auto	
		

	.item-1
		img
			max-width: 85px
			margin-right: 20px
			right: 5%

		.preloader-promo-txt
			font-size: 38px
			margin-left: 10px
			left: -10%

		.typed-cursor
			left: -30px
			font-size: 44px

	.mnu-button-wrapper
		left: 15px			


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
	.main-nav
		width: 35%
		&-active-2
			width: 36% !important

	.mnu-services-inner-wrapper 
		.mnu-services-items
			max-width: 80%
			margin: 15px auto

	.content
		&-active
			transform: translateX(36%)		

	.isnohome
		.design
			&-img
				top: -1%
			h2
				margin: 7% 0 5% 10%
			&-viagra
				.design-img
					top: -3%
				h2
					margin: 14% 0 4% 10%
		.mobile
			&-img
				top: -10%
			h2
				margin: 7% 0 8% 9%

