@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

html
	overflow-x: hidden !important
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	background: #fff
	overflow-x: hidden
	color: $text

// Settings

header, section
	position: relative

h1, h2, h3, h4, h5, h6
	margin-bottom: 0
	line-height: 1.4

.hidden
	display: none

// h1-h6
h1
	font-size: 48px

h2
	font-size: 38px

h3
	font-size: 32px

h4
	font-size: 28px

h5
	font-size: 22px

h6
	font-size: 18px

// Links

a
	color: $accent
	// text-decoration: none
	&:focus, &:hover, &:active
		// text-decoration: none

// List
ul, li
	padding: 0
	margin: 0 

// Button

button
	outline: none !important
	cursor: pointer

.btn
	display: flex
	align-items: center
	justify-content: space-between
	min-width: 250px
	padding: 13px 26px 13px 46px
	color: #fff
	background: $accent
	outline: none !important
	border: none
	box-shadow: 0px 6px 20px 5px rgba($accent, .21)
	font-size: 16px
	font-weight: bold
	text-align: center
	letter-spacing: 1px
	overflow: hidden
	position: relative
	transition: all .3s ease
	.fa
		font-size: 32px
	&:hover
		background: darken($accent, 10%)
		text-decoration: none
		color: #fff
	&:active
		background: lighten($accent, 4%)
	&::after
		content: ""
		display: block
		width: 30px
		height: 300px
		margin-left: 60px
		background: rgba(#fff, .5)
		position: absolute
		left: -40px
		top: -150px
		z-index: 1
		transform: rotate(45deg)
		transition: all 0.1s
		animation-name: slideme
		animation-duration: 3s
		animation-delay: 0.05s
		animation-timing-function: ease-in-out
		animation-iteration-count: infinite

@keyframes slideme  
	0% 
		left: -30px 
		margin-left: 0px
	30%  
		left: 110% 
		margin-left: 80px
	100%  
		left: 110% 
		margin-left: 80px


// Section
section 



.text-center
	text-align: center

b, strong
	font-weight: bold


.error
	color: #f57a80
	margin-top: 5px
	font-size: 15px
	font-weight: 300

.preloader
	position: fixed
	top: 0
	left: 0
	height: 100%
	width: 100%
	z-index: 9999
	font-family: 'CourierNew', sans-serif

.item-1
	position: relative
	height: 100%
	width: 50%
	background-color: $gray
	transition: 1.5s ease
	z-index: 9998
	img
		width: 115px
		height: auto
		position: absolute
		top: 50%
		transform: translateY(-50%)

	.preloader-promo-txt
		position: absolute
		top: 50%
		transform: translateY(-50%)
		font-size: 60px
		margin-left: 15px
		color: #333

.right-side
	position: absolute
	right: 0
	top: 0
	.preloader-promo-txt
		left: 0

.left-side
	img
		right: 0
		margin-right: 15px	
	
.typed-cursor
	position: absolute
	top: 50%
	left: -15px
	transform: translateY(-50%)
	font-size: 60px
	color: #333

.item-2
	position: absolute
	top: 0
	height: 100%
	width: 100%
	background-color: #eaeaea
	z-index: 9997
	transition: 1s

.item-3
	position: absolute
	top: 0
	height: 100%
	width: 100%
	background: linear-gradient(to left, #243eff, #4138ff, #5631ff, #6728ff, #761bff)
	z-index: 9996
	transition: 1s	



.mnu-button-wrapper
	position: fixed
	left: 35px
	top: 32px
	z-index: 9999
	transition: all .4s ease

	button
		padding: 0
		margin: 0
		display: block
		transition: all .4s ease
		&:hover
			.hamburger-inner
				width: 40px
				&::after
					width: 40px
		.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
			background-image: linear-gradient(to left, #243eff, #4138ff, #5631ff, #6728ff, #761bff)
			height: 3px
			border-radius: 10px

			

		.hamburger-inner
			width: 30px
			transition: all .5s ease
			&::after
				width: 35px
				transition: all .5s ease

.hamburger--arrow.is-active .hamburger-inner::after
	width: 40px

.hamburger--arrow.is-active .hamburger-inner
	width: 40px	

.hamburger--arrow.is-active .hamburger-inner, .hamburger--arrow.is-active .hamburger-inner::after, .hamburger--arrow.is-active .hamburger-inner::before
	background-color: $accent
	background-image: none

.main-nav
	position: fixed
	top: 0
	left: 0
	height: 100%
	width: 25%
	background: #fff
	transition: 1s ease
	z-index: 9999
	overflow-x: hidden

	transform: translateX(-100%)
	&-active
		transform: translateX(0%)
	
	&-active-2
		width: 26% !important
		
	&-effect
		position: fixed
		top: 0
		left: 0
		transition: 1s ease
		height: 100%
		width: 0
		background-image: linear-gradient(to right bottom, #243eff, #4138ff, #5631ff, #6728ff, #761bff)
		z-index: 9999

.mnu-services-list
	padding: 20px 0
	.active
		border-bottom-color: $accent 
		.fa
			 transform: rotate(180deg)

.menu-inner-wrapper
	padding: 35px 15px
	.mnu-logo
		max-width: 186px
		margin: 0px auto
		img
			width: 100%
			height: auto

.h2-list
	font-size: 24px
	font-weight: 900
	// text-align: center
	color: #333
	text-transform: uppercase
	margin-bottom: 30px
	border-bottom: 1px solid $gray
	padding-bottom: 10px

.h3-wrapper
	display: flex
	justify-content: space-between
	width: 100%
	align-items: center
	border-bottom: 1px dashed #c8c8c8
	cursor: pointer
	margin-left: 5px
	transition: all .4s ease
	.fa
		font-size: 30px
		transition: all .3s ease
	&:hover
		border-bottom-color: $accent	


.mnu-services-wrapper
	position: relative
	margin:
		top: 50px
		bottom: 45px
	h3
		font-size: 18px
		text-transform: uppercase
		padding-bottom: 10px
		display: block
		margin-left: 5px
		letter-spacing: 1.5px

		

.mnu-services-inner-wrapper
	margin: 25px 0
	width: 100%


	.mnu-services-items
		text-align: center
		margin: 15px 10px
		cursor: pointer
		position: relative
		display: block
		width: 100%		
		transition: all .5s ease
		&:hover, &:focus, &:active
			.price
				top: -30%
				visibility: visible
				opacity: 1


		h4
			font-size: 18px
			line-height: 1.1
			margin-top: 15px
			font-weight: 300
			max-width: 90%
			margin: 15px auto

		.mnu-services-img-wrapper
			box-shadow: 0 13px 16px 0 rgba(70,48,255,.25)
			background: transparent
			border-radius: 23px
			max-width: 150px
			margin: 0 auto


			.mnu-services-img
				max-width: 65px
				margin: 0 auto
				display: flex
				height: 150px
				justify-content: center
				align-items: center
				img
					width: 100%
					height: auto

		.price
			position: absolute
			top: -40%
			background: $accent
			color: #fff
			transition: top .3s ease
			display: block
			width: 98px
			height: 40px
			line-height: 40px
			text-align: center
			font-weight: bold
			left: 50%
			visibility: hidden
			transform: translateX(-50%)
			border-radius: 5px
			opacity: 0
			&::before
				content: ''
				position: absolute
				bottom: -15px
				width: 0
				height: 0
				border: 8px solid transparent
				border-top-color: $accent
				left: 50%
				transform: translateX(-50%)


// Menu-end

.content
	transition: transform 1s ease
	transform: translateX(0%)
	width: 100%
	height: 100%	
	z-index: 9996
	position: relative
	&-active
		transform: translateX(26%)
			

.overlay
	width: 100%
	height: 100%
	position: fixed
	left: 0
	top: 0
	bottom: 0
	right: 0
	display: none
	background: rgba(40,57,53,0.5)
	opacity: 0
	transition: opacity .4s ease
	z-index: 9998
	&-active
		opacity: 1
		display: block

.top-line
	width: 100%
	position: relative
	min-height: 115px
	.brand
		max-width: 200px
		display: block
		position: absolute
		left: 50%
		transform: translateX(-50%)
		top: 34px
		img
			width: 100%
	&-social
		position: absolute
		right: 22%
		transform: translateX(-30%)
		top: 32px
		li
			display: inline-block
			list-style: none
			margin: 0 6px
			a
				color: #000
				font-size: 23px
				transition: all .4s ease
				display: block
				&:hover
					color: #6A21FF
	&-phone
		position: absolute
		right: 35px
		top: 32px
		text-align: right
		span
			display: block
			margin-bottom: -8px
			a
				text-decoration: none
				color: #000
				border: none
				font-size: 18px
				font-weight: 500
				margin-bottom: 0
			.fa
				font-size: 22px
				margin-right: 7px
				vertical-align: middle
				color: $accent
				
		a
			font-size: 14px
			font-weight: 300
			color: $accent
			border-bottom: 1px solid $accent
			display: inline-block
			transition: all .4s ease
			&:hover
				border-bottom-color: transparent
				text-decoration: none

.h1
	font-size: 36px
	font-weight: 800
	line-height: 45px
	text-transform: uppercase
	strong
		color: $accent
		font-weight: 800

.headline-wrapper	
	margin-top: 58px


.portfolio-wrapper
	margin-top: 68px
	.portfolio-filter
		position: relative

.filter-list
	display: block
	li
		list-style: none
		display: inline-block
		margin-right: 30px
		font-size: 18px
		opacity: .3
		transition: all .4s ease
		border-bottom: 1px solid transparent
		cursor: pointer
		&:hover,
			color: $accent
			opacity: 1
			border-bottom-color: $accent
		&:last-child
			margin-right: none

		&.mixitup-control-active
			color: $accent
			opacity: 1
			border-bottom-color: $accent

						
									



.portfolio-items-wrapper
	margin-top: 30px
	.portfolio-items
		height: 381px
		// background-size: cover
		background-repeat: no-repeat
		width: 100%
		background-position: center center
		background-image: url(../img/laod-banner.jpg)
		background-size: cover
		display: flex
		align-items: flex-start
		flex-direction: column
		justify-content: center
		text-decoration: none
		position: relative
		overflow: hidden
		transition: all .4s ease
		padding: 0 10px 0 20px
		&::before
			content: ''
			position: absolute
			left: 0
			top: -100%
			width: 100%
			height: 100%
			display: block
			background: $accent
			transition: all .4s ease
			opacity: .9
		&:hover
			text-decoration: none
			.portfolio-type, h4, &::before, .btn-more
				top: 0

		.portfolio-type
			font-size: 14px
			color: #fff
			position: relative
			font-weight: bold
			top: -100%
			transition: all .4s ease
		h4
			font-size: 24px
			color: #fff
			position: relative
			margin-top: 12px
			transition: all .4s ease
			line-height: 1.2
			text-transform: uppercase
			top: -100%

		.btn-more
			padding: 8px 16px
			color: #fff
			border: 1px solid #fff
			position: relative
			margin-top: 20px
			text-transform: uppercase
			top: -100%
			transition: all .4s ease
			font-size: 14px

.menu-about-info
	p
		line-height: 1.4
		font-size: 15px
		font-weight: 300
		letter-spacing: .4px
		strong
			color: $accent
			font-size: 16px

// ====== 3d unfold ======


.mfp-3d-unfold 
	
 
	.mfp-content 
		perspective: 2000px
	
	
	/* start state */
	.mfp-with-anim 
		opacity: 0
		transition: all 0.3s ease-in-out
		transform-style: preserve-3d
		transform: rotateY(-60deg)
	
	
	
	&.mfp-bg 
		opacity: 0
		transition: all 0.5s
	
	
	/* animate in */
	&.mfp-ready 
		.mfp-with-anim 
			opacity: 1
			transform: rotateY(0deg)
		
		&.mfp-bg 
			opacity: 0.8
		
	
	
	/* animate out */
	&.mfp-removing 
		
		.mfp-with-anim 
			transform: rotateY(60deg)
			opacity: 0
		
		&.mfp-bg 
			opacity: 0
		
		
.mfp-bg
	z-index: 9998

.mfp-wrap
	z-index: 9999	
	
.popup-callback
	background: #fff
	max-width: 540px
	z-index: 10000
	border-radius: 8px
	position: relative
	margin: 0 auto
	padding: 40px 30px
	h4
		font-size: 20px
		text-align: center
		display: block
		letter-spacing: .5px
		text-transform: uppercase
	small
		font-size: 15px
		text-align: center
		display: block
	form
		margin-top: 30px
		label
			display: block
			width: 100%
			margin-bottom: 20px
			position: relative
			
			span
				display: block
				font-size: 16px
				// margin-bottom: 5px
				.required
					color: #F57A80
			input
				width: 100%
				padding: 10px 0
				border: none
				outline: none !important
				border-bottom: 3px solid #eaeaea
				font-size: 18px
				&:focus + .label-active
					&::before
						width: 100%
		button
			margin-top: 30px

		.form-info
			font-size: 14px
			line-height: 1.2
			margin-top: 30px						


.label-active
	position: relative
	display: block
	&::before
		content: ''
		width: 0%
		height: 3px
		background: $accent
		bottom: 0
		transition: width .4s ease
		position: absolute
		left: 0	
		display: block	

.mobile-phone
	border: none
	outline: none !important
	background: #712DFD
	color: #fff
	width: 47px
	height: 47px
	display: block
	font-size: 18px
	border-radius: 10em
	line-height: 47px
	text-align: center
	.fa
		color: #fff
	&:hover
		text-decoration: none	

.main-footer
	background-image: url('../img/footer-bg.jpg')
	padding:
		top: 180px
		bottom: 107px
	background-size: cover
	background-position: center center
	position: relative
	z-index: -1
	margin-top: -100px
	color: #fff
	.footer-items
		h3
			font-size: 24px
			font-weight: bold
			margin-bottom: 28px
		p
			font-size: 16px
			font-weight: 300
		&-ul
			li
				list-style: none
				color: #fff
				display: block
				font-size: 16px
				margin-bottom: 5px
				font-weight: 300
				a
					color: #fff
					font-size: 16px
					font-weight: 300
					display: block
					font-weight: 300
				.fa
					margin-right: 7px	


//Apartamnets
.apart-subhead
	margin-top: 47px
	font-weight: 300
.apart-main
	background-image: url("../img/portfolio/apartaments/bg-1.png")
	background-position: right
	background-repeat: no-repeat
	background-position-y: -10px
	.headline-wrapper
		margin-top: 0
		padding-top: 58px
.isnohome
	.mnu-button-wrapper button .hamburger-inner, .mnu-button-wrapper button .hamburger-inner::after, .mnu-button-wrapper button .hamburger-inner::before
		background: white
	.top-line
		background: $accent
		&-phone
			a
				color: #fff
	.main-footer
		margin-top: 0
.white
	color: white
.variants
	padding-top: 139px
	.apart-subhead
		margin: 28px 0 69px 0

.fotorama__nav-wrap
	margin: 20px 0 69px 0

//design
.design
	position: relative
	&-img
		position: absolute
		top: -84px
		z-index: -1

		img
			width: 100%
	h2
		margin: 94px 0 51px 148px

//mobile
.mobile
	position: relative
	background-image: url("../img/portfolio/apartaments/bg-city.png")
	background-position: center
	background-repeat: no-repeat
	background-position-y: 159px
	background-size: 100%
	&-img
		position: absolute
		top: -80px
		z-index: -1
	&-iphone
		max-width: 1415px		
	.iphone
		max-width: 50%
	h2
		margin: 79px 0 67px 147px
.phones
	padding-bottom: 121px
	.m-363
		margin-top: 145px
	.m-151
		margin-top: 54px
	&-bottom-1
		h2
			margin: 117px 0 27px 0
	&-bottom-2
		h2
			margin: 91px 0 18px 0
		.btn
			.fa
				font-size: 20px
	&-mobile
		max-width: 330px
		margin: 0 auto
		img
			width: 100%
	.button-wrapper
		padding: 0
		width: 250px

//viagra
.viagra-main
	li
		color: #6A21FF
		span
			color: black
			font-weight: 300
	.comp-tel
		position: relative
		&:before
			content: url("../img/portfolio/viagra/cube.png")
			position: absolute
			z-index: -1
			left: -135px
			top: 103px
		&:after
			content: url("../img/portfolio/viagra/c.png")
			position: absolute
			top: -11%
			right: -5%
		.t-cube
			position: absolute
			bottom: -45px
			left: 50%
.pill-1
	position: absolute
	top: 8%
	right: 33%
.pill-2
	position: absolute
	bottom: 30%
	left: 9%
.pill-3
	position: absolute
	right: 0
	top: 32%
.phones-viagra
	margin-top: 183px

//ZAPUSK
.zapusk-main
  background-image: url("../img/portfolio/zapusk/main-bg.png")
  background-position: right
  background-repeat: no-repeat
  background-position-y: -10px
  background-size: 20%
.mobile-zapusk
	background-image: url("../img/portfolio/zapusk/mobile-bg.png")
	background-position: bottom
	background-repeat: no-repeat
	// background-position-y: 159px
	background-size: 50%

//Landing-Nurlan
.landing-nurlan-main
  background-image: url("../img/portfolio/landing-nurlan/main-bg.png")
  background-repeat: no-repeat
  background-size: 100%
.phones-landing-nurlan
  margin-top: 68px

//Maraphone
.morophone-main
	background-image: url('../img/portfolio/maraphone/bg.jpg')
	background-repeat: no-repeat
	background-size: 100%
	background-position: center 70%

//Calculator
.model-summary
	background: rgba(255,245,215,.4)
	width: 200px
	height: 200px
	border-radius: 20px
	text-align: center
	margin-top: 50px
	line-height: 35px

.model-name
	color: rgba(42, 81, 147, 0.66)

.col-1-of-3
	margin: 0 30px
	padding-bottom: 20px

#autoForm
	display: flex

.colorItem
	width: 20px
	height: 20px
	border-radius: 50%
	padding: 35px
	margin: 10px

.colorBlue
	background-color: blue

.colorBlack
	background-color: black


.colorGrey
	background-color: gray

.colorOrange
	background-color: orange

.colorSelector
	display: flex

.model-price
	color: #5b75ff

@import "media" // Always at the end
